{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2>Éditer le bien</h2>

  {{ form_start(form) }}
  <div class="row">
    <div class="col-md-4">{{ form_row(form.title) }}</div>
    <div class="col-md-4">{{ form_row(form.description) }}</div>
    <div class="col-md-4">{{ form_row(form.price) }}</div>
  </div>
  {{ form_rest(form) }}
  <button class="btn btn-primary">Éditer</button>
  {{ form_end(form) }}

</div>

{% endblock %}